<html>

<head>
    <title>Realizar venta</title>
</head>

<body>
    <div id="container">
        <form>
            <div class="container">
                <hr>

                <label for="productName"><b>Nombre producto</b></label>
                <input type="text" placeholder="Mueble rojo" name="productName" id="productName" required>

                <label for="email"><b>Correo del usuario</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
                <hr>

                <button type="submit" class="loginbtn">Realizar venta</button>
            </div>
        </form>
    </div>
</body>

</html>