<div class="toolbar" role="banner">
  <mat-toolbar-row  color="warn">

      <span>Mueblería Vladimir</span>
      <div class ="spacer"> </div>
      <button mat-button routerLink="../vista-gg/">Menú general</button>
      <button mat-button routerLink="../rango-salarios/" >Definir rango de salarios</button>
      <button mat-button routerLink="../ver-todos/">Ver empleados</button>
      <button mat-button  >Configuraciones</button>
      <button mat-raised-button  >Cerrar sesión</button>
  
    </mat-toolbar-row>
  
</div>

<mat-nav-list>
  <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item"> {{item | titlecase}} </a>


<div class = "bg">

  

</div>
