
    <mat-card-title> Desempeño por sucursal</mat-card-title>
    <p></p>
    <div class = "tabla">
      <table mat-table [dataSource]="dataSource" matSort class = "tabla">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="sucursal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </th>
          <td mat-cell *matCellDef="let reporte"> {{reporte.sucursal}} </td>
        </ng-container>
      
        <!-- Name Column -->      
        <!-- Weight Column -->
        <ng-container matColumnDef="ganancia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ganancia bruta </th>
          <td mat-cell *matCellDef="let reporte"> {{reporte.ganancia}} $ </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="gastos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Gastos </th>
          <td mat-cell *matCellDef="let reporte"> {{reporte.gastos}}$ </td>
        </ng-container>

        <ng-container matColumnDef="ventasPorcentaje">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Porcentaje de ventas </th>
          <td mat-cell *matCellDef="let reporte"> {{reporte.ventasPorcentaje}}% </td>
        </ng-container>

        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ganancia neta </th>
          <td mat-cell *matCellDef="let reporte"> {{reporte.balance}}$ </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

