
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" 
        attr.role='navigation' 
        mode='side' 
        opened='true'
        position="end">
      <mat-card class="cardCustom">
        
        <mat-card-content>
          <mat-card-title>
            Resumen de Pedido
          </mat-card-title>
          <table style="width: 100%;">
            <tr >
              <td><h4>Total</h4></td>
              <td>4000$</td>
            </tr>
            <tr >
              <td><h4>Descuento</h4></td>
              <td>4000$</td>
            </tr>
            <tr >
              <td><h4>Precio a pagar</h4></td>
              <td>4000$</td>
            </tr>
            <tr >
              <td><h4>Cantidad de productos</h4></td>
              <td>100</td>
            </tr>
          </table>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color = "warn"  style ="width: 100%;"> Pagar </button>
        </mat-card-actions>

      </mat-card>


      
  
    </mat-sidenav>
    <mat-sidenav-content class = "sidenav-content" >

  
  
  
  <div class="cardList">
    <ng-container *ngFor="let _ of [1,2,3,4,5,6,1,1,1,1,1,1,1]">
      <app-product-card tipo="carrito" ></app-product-card>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
  
  
  
    </mat-sidenav-content>
  </mat-sidenav-container>

  