<mat-card  style="margin:1em;" class="example-card">


    <div fxLayout="row">
        <img class="imgCard" mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <span fxFlex="10"></span>
       
        <mat-card-content fxFlex="65">
                <mat-card-title class="text">Producto #1</mat-card-title>
                <mat-card-subtitle class="text">Cuenta con Madera de Alta Calidad qwhmdhrwghsrjydthtrsjydtkujyrh</mat-card-subtitle>
                <mat-card-content class="text">
                   <h4> USD 94$</h4>
                </mat-card-content>
         
        </mat-card-content>
        
    </div>

</mat-card>
        