<mat-toolbar    class = "toolbar" color="primary">
    <mat-toolbar-row  >
      <span class ="fontd">Mueblería Vladimir</span>
      <div class ="spacer"> </div>
      
      <button mat-button  (click)="pageSet('tienda')">Tienda</button>
      <button mat-button *ngIf="userLogged"  (click)="pageSet('misPedidos')">Mis Pedidos</button>
      <button mat-button *ngIf="userLogged" (click)="pageSet('carrito')">Carrito</button>
      <button mat-button  (click)="configuraciones('configuraciones-accesibilidad')">Configuraciones</button>
      <button mat-button  *ngIf="!userLogged" (click)="iniciarSesion()" >Iniciar sesión</button>
      <button mat-raised-button *ngIf="!userLogged"  color="accent"  (click)="registrarse()" >Registrarse</button>
      <button mat-raised-button *ngIf="userLogged"  color="accent"  (click)="cerrarSesion()" >Cerrar Sesion</button>
      
 
    </mat-toolbar-row>
  
  </mat-toolbar>
  <body [ngSwitch]="page" >
    <div><app-mis-pedidos class = "content" *ngSwitchCase ="'misPedidos'"></app-mis-pedidos></div>
  <div><app-main-nav class = "content" *ngSwitchCase ="'tienda'"></app-main-nav></div>
  <div><app-carrito class = "content" *ngSwitchCase ="'carrito'"></app-carrito></div>
  </body>

 

  
  
  
  
  