<p>vista-gerente works!</p>
<div class="toolbar" role="banner">
  <mat-toolbar-row  color="warn">

      <span>Mueblería Vladimir</span>
      <div class ="spacer"> </div>
      <button mat-button>Promociones</button>
      <button mat-button>Reportes</button>
      <button mat-button>Empleados</button>
      <button mat-button>Configuraciones y Accesibilidad</button>
      <button mat-raised-button  >Cerrar sesión</button>

    </mat-toolbar-row>

</div>

<mat-tab-group>
  <mat-tab label="verPromociones">Ver Promociones</mat-tab>
  <mat-tab label="verReportes">Ver Reportes</mat-tab>
  <mat-tab label="verEmpleados">Ver Promociones</mat-tab>
</mat-tab-group>
