<mat-toolbar    class = "toolbar" color="primary">
  <mat-toolbar-row  color="warn">

      <span>Mueblería Vladimir</span>
      <div class ="spacer"> </div>
      <button mat-raised-button routerLink = "" >Cerrar sesión</button>

    </mat-toolbar-row>

</mat-toolbar>

<div class="bg">
  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Ver Promociones" >
      <div class="content">
        <mat-card-title> Lista de promociones</mat-card-title>
        <br>
        <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID de Producto</th>
            <td mat-cell *matCellDef="let element">{{element.idProducto}}</td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre de Producto</th>
            <td mat-cell *matCellDef="let element">{{element.nombreProducto}}</td>
          </ng-container>

          <ng-container matColumnDef="nuevoPrecio">
            <th mat-header-cell *matHeaderCellDef>Nuevo Precio</th>
            <td mat-cell *matCellDef="let element">{{element.nuevoPrecio}} $</td>
          </ng-container>

          <ng-container matColumnDef="fechaFin">
            <th mat-header-cell *matHeaderCellDef>Fecha de fin de la Promoción</th>
            <td mat-cell *matCellDef="let element">{{element.fechaFinal}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
        </table>
        <br>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Crear promoción
            </mat-panel-title>
            <mat-panel-description>
              Seleccione un producto, su porcentaje de despuesto y la fecha limite
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>Seleccionar Producto</th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="selected=row"
                              [checked]="selected===row"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let element"> {{element.precio}} $ </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)"></tr>
          </table>
          <mat-card>
            <form class="example-form">
              <div class="mat-subheading-2">Porcentaje de descuento: {{gridsize.value}} %</div>
              <mat-slider #gridsize (change)="updateSetting($event)" step="5" min="0" max="100" [value]="gridsize"></mat-slider>

              <mat-form-field appearance="fill">
                <mat-label>Fecha de fin de la promoción</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)] = "fechaMaxima" name="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <button mat-button (click) = "crearPromocion()">Ingresar</button>
            </form>

          </mat-card>

        </mat-expansion-panel>

      </div>
    </mat-tab>
    <mat-tab label="Ver Productos">
      <div class="content">
        <mat-card-title> Lista de productos</mat-card-title>
        <br>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
          </table>
          <br>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Agregar un nuevo producto
              </mat-panel-title>
              <mat-panel-description>
                rellene la siguiente información
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form class="nuevoProducto">
              <mat-form-field>
                <mat-label>Nombre del producto</mat-label>
                <input [(ngModel)] = "nombreNuevoProducto" name="nuevoProducto" matInput>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Precio</mat-label>
                <input [(ngModel)] = "precioNuevoProducto" name="nuevoPrecio" matInput>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input [(ngModel)] = "descripcionNuevoProducto" name="nuevaDescripcion" class="descripcion" matInput>
              </mat-form-field><br>
              <mat-form-field>
                <mat-label>URL imagen</mat-label>
                <input [(ngModel)] = "urlImagenProducto" name="urlImagenProducto" matInput>
              </mat-form-field><br>
              <button mat-button (click)="crearProducto()">Agregar</button>
            </form>
          </mat-expansion-panel>

      </div>
    </mat-tab>
    <mat-tab label="Ver Reportes">
      <div class="content">
        <div class="mat-subheading-2">Reportes de la sucursal</div>
        <mat-form-field>
          <mat-label>Seleccione la Sucursal</mat-label>
          <mat-select (selectionChange)="cambiarDatosReporte($event)" >
            <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.nombre" >{{sucursal.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="content">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ganancia Bruta por Mes
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-title>$ {{gananciaBruta}}</mat-card-title>
            </mat-card>
            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Gastos Por Mes
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-card>
              <mat-card-title>$ {{gastosPorMes}}</mat-card-title>
            </mat-card>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Porcentaje de ventas
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-title>{{porcentajeVentas}} %</mat-card-title>
            </mat-card>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">End</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ganancia Neta
              </mat-panel-title>

            </mat-expansion-panel-header>

            <mat-card>
              <mat-card-title>$ {{gananciaNeta}}</mat-card-title>
            </mat-card>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Ver Empleados">
      <div class = "content">
        <mat-card-title> Lista de empleados de la sucursal Central</mat-card-title>
        <br>
        <div class = "tabla">
          <table mat-table [dataSource]="dataSource2" matSort class = "tabla">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let empleado"> {{empleado.nombre}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="puesto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Puesto </th>
              <td mat-cell *matCellDef="let empleado"> {{empleado.puesto}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="salario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Salario </th>
              <td mat-cell *matCellDef="let empleado"> {{empleado.salario}} $ </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="sucursal">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </th>
              <td mat-cell *matCellDef="let empleado"> {{empleado.sucursal}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </div>
      </div>
      <div class="content">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Agregar Empleado</mat-panel-title>
            <mat-panel-description>Ingrese el nombre del empleado, el puesto y su salerio</mat-panel-description>
          </mat-expansion-panel-header>
          <form class=nuevoEmpleado>
            <mat-form-field>
              <mat-label>Nombre del Empleado</mat-label>
              <input matInput [(ngModel)]="nombreEmpleado" name="nombreEmpleado">
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Puesto</mat-label>
              <input matInput [(ngModel)]="puestoEmpleado" name="puestoEmpleado">
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Salario</mat-label>
              <input matInput [(ngModel)]="salarioEmpleado" name="salarioEmpleado">
            </mat-form-field>
            <br>
            <button mat-button (click)="crearEmpleado()">Agregrar Empleado</button>
          </form>
        </mat-expansion-panel>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
