<!doctype html>
<html>

<head>
    <title>Login</title>
</head>

<body class="bg">
    <div id="container" fxLayoutAlign="center center">
    
    <mat-card class="customCard" >
        <mat-card-title fxLayoutAlign="center center" class="example-full-width"> Log In </mat-card-title>
        <mat-card-content>
        <form class="form">
 
            <mat-form-field class="example-full-width">
      
                <mat-label for="email">Correo</mat-label>
                <input matInput type="text" placeholder="Digite su correo" name="email" id="email" required>
            </mat-form-field>
           
            <mat-form-field class="example-full-width">
                <mat-label for="psw">Password</mat-label>
                <input matInput type="password" placeholder="Digite su clave" name="psw" id="psw" required>
            </mat-form-field>
            <div fxLayoutAlign="center center"> 
                <button  mat-raised-button color="primary" style=
                "padding: 1.1% 0px;
                border: none;
                cursor: pointer;
                width: 100%;
                opacity: 0.9;" type="submit" class="loginbtn">Iniciar Sesión</button>
            </div>
            <div class="container register">
                No posees una cuenta? <a href="../vista-register/">Registrate</a>.
            </div>

    
        </form>
    </mat-card-content>

    </mat-card>
    </div>
</body>

</html>