<!doctype html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <div id="container">
        <form>
            <div class="container">
                <h1>Login</h1>
                <hr>

                <label for="email"><b>Correo</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Digite su clave" name="psw" id="psw" required>
                <hr>

                <button type="submit" class="loginbtn">Iniciar Sesión</button>
            </div>

            <div class="container register">
                <p>No posees una cuenta? <a href="../vista-register/">Registrate</a>.</p>
            </div>
        </form>
    </div>
</body>

</html>