.tabla {
    height: 400px;
    width: 95%;
    overflow: auto;
  }

  .try1 {
    margin-left: 15%;
    margin-bottom: 1%;
}
.try2 {
  margin-left: 14.2%;
  margin-bottom: 1%;
}
.try3 {
  margin-left: 8%;
  margin-bottom: 1%;
}

.try4 {
  margin-left: 5%;
  margin-bottom: 1%;
}
