<mat-card-title> Información general de cada sucursal</mat-card-title>
      <p> Presione una sucursal para ver mas detalles</p>
      <mat-accordion class = "tabla">
        <div *ngFor="let sucursal of sucursales">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sucursal {{ sucursal.nombre}}
              </mat-panel-title>
              <mat-panel-description>
                Mostrar información especifica
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Ubicación {{ sucursal.ubicacion}}</p>
            <p>Empleados {{ sucursal.empleados}}</p>
            <p>Ganancias aproximada {{ sucursal.ganancias}}$ por mes</p>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Talleres 
                </mat-panel-title>
                <mat-panel-description>
                  Mostrar cada taller
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngFor="let taller of sucursal.talleres">
                <p>Taller {{taller.nombre}}</p>
              </div>
            </mat-expansion-panel>
  
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Agregar taller nuevo 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-label>Ubicación</mat-label>
                <input matInput nuevoTaller [(ngModel)]="nuevoTaller" class = "try1">
              </div>
              <button mat-button color="primary" (click)="
              agregarTaller(sucursal.nombre, sucursal.ubicacion, sucursal.empleados,  sucursal.ganancias, sucursal.talleres)">Agregar taller</button>
            </mat-expansion-panel>
          </mat-expansion-panel>
        </div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Agregar Sucursal nueva 
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div>
              <mat-label>Nombre</mat-label>
              <input matInput [(ngModel)]="nombre" class = "try1">
            </div>
            <div>
              <mat-label>Ubicación</mat-label>
              <input matInput [(ngModel)]="ubicacion" class = "try2">
            </div>
            <div>
              <mat-label> Cantidad de empleados</mat-label>
              <input matInput [(ngModel)]="empleados" class = "try3">
            </div>
            <div>
              <mat-label>Ganancia aproximada por mes</mat-label>
              <input matInput [(ngModel)]="ganancias" class = "try4">
            </div>
            <button mat-button color="primary" (click)="agregarSucursal()">Agregar sucursal</button>
       
        </mat-expansion-panel>

      </mat-accordion>
