

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Filtros</mat-toolbar>
    <mat-accordion>
      precios
      <mat-card>hola</mat-card>
    </mat-accordion>
    

  </mat-sidenav>
  <mat-sidenav-content class = "sidenav-content" >
    <mat-toolbar color="secundary">
      <mat-toolbar-row>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        Filtros
        <mat-icon aria-label="Side nav toggle icon">chevron_right</mat-icon>
      </button>
  
      <div class="spacer"></div>
      <button class = "button" mat-button [matMenuTriggerFor]="beforeMenu">
        Ordenar Por
        <mat-icon aria-label="Side nav toggle icon">expand_more</mat-icon>
     </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item>Precio</button>
          <button mat-menu-item>Nombre</button>
        </mat-menu >
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="customPaginator">
      <div class="spacer"></div>
        <mat-paginator class= "customPaginator"[length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </mat-toolbar>
<div class="cardList">
  <ng-container *ngFor="let i of let p of productosOfrecidos">
    <app-product-card [producto] = "i" ></app-product-card>
    <mat-divider ></mat-divider>
  </ng-container>
</div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
