
  <div class="toolbar" role="banner">
    <mat-toolbar-row  color="warn">

        <span>Mueblería Vladimir</span>
        <button mat-button routerLink="../rango-salarios/" >Definir rango de salarios</button>
        <button mat-button routerLink="../ver-todos/">Ver empleados</button>
        <button mat-button  >Configuraciones</button>
        <button mat-raised-button>Cerrar sesión</button>
    
      </mat-toolbar-row>
    
</div>




<div class = "bg">
    <div class = "content">
      <mat-card-title> Reportes generales de la empresa</mat-card-title>
      <mat-tab-group dynamicHeight mat-align-tabs="center" class = "tabla">
        <mat-tab label="Resumen">
          <p></p>
          <mat-card>
            <mat-list>
              <mat-list-item>
                Ganancia bruta total: 5000$
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                Gastos totales: 4500$
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                Ganancia neta total: 500$
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item class = "thick">
                Ranking entre sucursales
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item >
                <div >Más personal: Cartago</div>
                <div class = "try1"> Menos personal: San Carlos </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div > Mayor ganancia: San Jose</div>
                <div class = "try2"> Menor ganancia: San Carlos </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div >Mayores gastos: San Jose</div>
                <div class = "try3">Menores gastos: San Carlos </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div >Mayor porcentaje de ventas: Cartago</div>
                <div class = "try4"> Menor porcentaje de ventas: San Carlos </div>
              </mat-list-item>
            </mat-list>
          </mat-card>
        </mat-tab>
        <mat-tab label="Ventas y gastos">
          <p></p>
          <app-reportes-generales></app-reportes-generales>
        </mat-tab>
        <mat-tab label="Sucursales">
          <p></p>
          <app-vista-sucursales></app-vista-sucursales>

        </mat-tab>
      </mat-tab-group>
                  
    </div>
</div>

