
<div class="toolbar" role="banner">
    <mat-toolbar-row  color="warn">

        <span>Mueblería Vladimir</span>
        <div class ="spacer"> </div>
        <button mat-button routerLink="../reportes-generales/">Ver reportes generales</button>
        <button mat-button routerLink="../rango-salarios/" >Definir rango de salarios</button>
        <button mat-button routerLink="../ver-todos/">Ver empleados</button>
        <button mat-button  >Configuraciones</button>
        <button mat-raised-button  >Cerrar sesión</button>
    
      </mat-toolbar-row>
    
</div>


<div class = "bg">

    <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
    </mat-list>
    

</div>

