
  <div class="toolbar" role="banner">
    <mat-toolbar-row  color="warn">

        <span>Mueblería Vladimir</span>
        <button mat-button routerLink="../rango-salarios/" >Definir rango de salarios</button>
        <button mat-button routerLink="../ver-todos/">Ver empleados</button>
        <button mat-button  >Configuraciones</button>
        <button mat-raised-button>Cerrar sesión</button>
    
      </mat-toolbar-row>
    
</div>




<div class = "bg">
    <div class = "content">
      <mat-card-title> Reportes generales de la empresa</mat-card-title>
      <p></p>
      <mat-tab-group dynamicHeight mat-align-tabs="center" class = "tabla">
        <mat-tab label="Resumen">
          <p></p>
        </mat-tab>
        <mat-tab label="Ventas y gastos">
          <p></p>
          <app-reportes-generales></app-reportes-generales>
        </mat-tab>
        <mat-tab label="Sucursales">
          <p></p>
          <app-vista-sucursales></app-vista-sucursales>

        </mat-tab>
      </mat-tab-group>
                  
    </div>
</div>

