<form class="form"  (ngSubmit)="onSubmit()">
    <div class="container">
      <h1>Register</h1>
      <p>Por favor completa este formulario para hacer uso de nuestros servicios.</p>
      <hr>
      <label for="email"><b>Correo</b></label>
      <input type="text" [formControl]="email" placeholder="Correo" name="email" id="email" required>

      <label for="name"><b>Nombre</b></label>
      <input type="text" [formControl]="name" placeholder="Nombre" name="name" id="name" required>

      <label for="phone"><b>telefono</b></label>
      <input type="text" [formControl]="phone" placeholder="Telefono" name="phone" id="phone" required>

      <label for="direccion"><b>direccion</b></label>
      <input type="text" [formControl]="direccion" placeholder="Escribe tu direccion" name="direccion" id="direccion" required>
  
      <label for="psw"><b>Contraseña</b></label>
      <input type="password" [formControl]="psw" placeholder="Contraseña" name="psw" id="psw" required>
  
      <hr>
  
      <p>Al crear una cuenta acepta nuestras <a href="#">politicas de privacidad</a>.</p>
      <button type="submit" class="registerbtn">Registrarse</button>
    </div>
  
    <div class="container signin">
      <p>Ya cuentas con una cuenta? <a href="../vista-login/">Inicia sesión</a>.</p>
    </div>
  </form>