<form action="action_page.php">
    <div class="container">
      <h1>Register</h1>
      <p>Por favor completa este formulario para hacer uso de nuestros servicios.</p>
      <hr>
      <label for="email"><b>Correo</b></label>
      <input type="text" placeholder="Correo" name="email" id="email" required>

      <label for="name"><b>Nombre</b></label>
      <input type="text" placeholder="Nombre" name="name" id="name" required>

      <label for="phone"><b>telefono</b></label>
      <input type="text" placeholder="Telefono" name="phone" id="phone" required>

      <label for="direccion"><b>direccion</b></label>
      <input type="text" placeholder="Escribe tu direccion" name="direccion" id="direccion" required>
  
      <label for="psw"><b>Contraseña</b></label>
      <input type="password" placeholder="Contraseña" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Repita la contraseña</b></label>
      <input type="password" placeholder="Repite tu contraseña" name="psw-repeat" id="psw-repeat" required>
      <hr>
  
      <p>Al crear una cuenta acepta nuestras <a href="#">politicas de privacidad</a>.</p>
      <button type="submit" class="registerbtn">Registrarse</button>
    </div>
  
    <div class="container signin">
      <p>Ya cuentas con una cuenta? <a href="../vista-login/">Inicia sesión</a>.</p>
    </div>
  </form>