
    <mat-card style="margin:1em;" class="example-card">
        <div fxLayout="row" >
        <mat-card-content >
                    <mat-card-title class="text">
                    <mat-label >Pedido #3454</mat-label>
                    
                    </mat-card-title>
         
                    <mat-card-subtitle class="text">Fecha de solicitud: 10/11/2011 23:54</mat-card-subtitle>
                    <mat-card-content class="text"> 
                       <div><span class= "bold"> Total:</span> USD 94$</div>
                       <div><span class= "bold"> Estado del envio:</span> USD 94$</div>
                       <div><span class= "bold"> Pago:</span> Cancelado</div>
                       <div><span class= "bold"> Resumen de productos:</span></div>
                    </mat-card-content>         
        </mat-card-content>
        <span style="flex: 1;"></span>
        <mat-card-actions>
         
                <button mat-icon-button aria-label="Close button" (click)="abrirPanel(panel)">
                    <mat-icon *ngIf ="!panel.expanded">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf ="panel.expanded">keyboard_arrow_up</mat-icon>
                </button>
    
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" yPosition="below">
                    <button mat-menu-item>Calificar</button>
                  
                </mat-menu>
     
          
            
        </mat-card-actions >
   

        </div>

         <mat-expansion-panel #panel class = "productList boxShadowNode">
            <app-tabla-productos></app-tabla-productos>
        </mat-expansion-panel >
    </mat-card>
  




        
        
