<div class="content">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Modo nocturno
        </mat-panel-title>
        <mat-panel-description>
          Cambia a la apariencia de la aplicación a colores oscuros
          <mat-icon>nights_stay</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-slide-toggle>Modo Nocturno</mat-slide-toggle>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accesibilidad
        </mat-panel-title>
        <mat-panel-description>
          Opciones para diferentes tipos de discapacidades visuales
          <mat-icon>accessibility</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Tamaño de letra</mat-label>
        <mat-select>
          <mat-option>Por Defecto</mat-option>
          <mat-option>Grande</mat-option>
          <mat-option>Extra Grande</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Daltonismo</mat-label>
        <mat-select>
          <mat-option>Protanopía</mat-option>
          <mat-option>Deuteranopía</mat-option>
          <mat-option>Tritanopía</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Idioma
        </mat-panel-title>
        <mat-panel-description>
          Seleccione el idioma que desea para la aplicación
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Idioma</mat-label>
        <mat-select>
          <mat-option>English</mat-option>
          <mat-option>Deutsch</mat-option>
          <mat-option>Português</mat-option>
          <mat-option>Italiano</mat-option>
          <mat-option>國語</mat-option>
          <mat-option>日本語</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>
