.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  .imgCard{
    height: 50%;
    width: 50%;
    max-height: 250px;
    max-width: 270px;
}
.progressBard{
  width: 390px;

}
.customCard {

  margin-top: 12%;
  box-shadow: none !important;
  width: 700px;
  max-height: 900px;
  border-radius: 0px;

}