<div fxLayoutAlign="center center"><mat-card color = "primary" class ="customCard">
    <div fxLayoutAlign="center center">
    <img src="assets/logo.png" alt="Photo of a Shiba Inu">
    </div>
    <div fxLayoutAlign="center center">
    <mat-card-content>
        <section class="example-section">
            <mat-progress-bar
                class=" progressBard"
                color="primary"
                mode="determinade"
                [value]="value">
            </mat-progress-bar>
          </section>
    </mat-card-content>
</div>


</mat-card></div>