<mat-card style="margin:1em;" class="example-card">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let pedido"> {{pedido.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="CorreoC">
          <th mat-header-cell *matHeaderCellDef> Correo cliente </th>
          <td mat-cell *matCellDef="let pedido"> {{pedido.correoCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total pagado </th>
            <td mat-cell *matCellDef="let pedido"> $ {{pedido.pago.totalPagado}} </td>
          </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
          <td mat-cell *matCellDef="let pedido"> {{pedido.fecha}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Pago">
          <th mat-header-cell *matHeaderCellDef> Estado del pago </th>
          <td mat-cell *matCellDef="let pedido">
            <p>Estado Actual: {{setSelectedPago(pedido.pago.estado)}}</p>
            <mat-form-field appearance="fill" >
                <mat-label>Cambiar estado a</mat-label>
                <mat-select [(value)]="selectedPago">
                  <mat-option [value]="option.Estado" *ngFor="let option of pago">{{ option.Estado }}</mat-option>
                </mat-select>
              </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef> Estado del pedido </th>
            <td mat-cell *matCellDef="let pedido"> 
                <p>Estado Actual: {{setSelectedEnvio(pedido.envio.estado)}}</p>
                <mat-form-field appearance="fill" >
                    <mat-label>Cambiar estado a</mat-label>
                    <mat-select [(value)]="selectedEnvio" disableRipple>
                      <mat-option [value]="option.Estado" *ngFor="let option of envio" [selected]="selectedEnvio === option.Estado">{{ option.Estado }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
            </td>
        </ng-container>

        <ng-container matColumnDef="Cambiar">
            <th mat-header-cell *matHeaderCellDef> Guardar Cambios </th>
            <td mat-cell *matCellDef="let pedido"> 
                <button mat-icon-button (click)="guardarCambios(pedido.id)">
                    <mat-icon>done</mat-icon>
                </button>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</mat-card>
